* {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100dvh;
  min-height: 100vh;
  font-family: sans-serif;
}

header,
footer {
  height: 20px;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 200px;
  height: 330px;
  z-index: 3;
}

.background {
  height: 100%; /* Altura del 100% de la ventana */
  width: 100%; /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(93, 0, 255); /* Texto blanco para que contraste */
  text-align: center;
  position: absolute;
  display: block;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-header {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ff0080;
  z-index: 4;
}

.robot-image {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.robot-image img {
  width: 120px;

  height: auto;
}

.robot-name {
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #d6ff00;
  z-index: 4;
}

.robot-description {
  position: absolute;
  top: 180px;
  width: 90%;
  font-size: 12px;
  text-align: center;
  color: white;
  z-index: 4;
}

.card-icons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  z-index: 4;
}

.card-icons img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
